# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
GoL2D
example


.vscode
test
your_program
build/
/build
/build/
./build/
build/*
/build/*
/build
/build
/build/CMakeFiles/GoL2d.dir
build/CMakeFiles/GoL2d.dir/build.make
build/CMakeFiles/GoL2d.dir/cmake_clean.cmake
build/CMakeFiles/GoL2d.dir/compiler_depend.internal
build/CMakeFiles/GoL2d.dir/compiler_depend.make
build/CMakeFiles/GoL2d.dir/DependInfo.cmake
build/CMakeFiles/GoL2d.dir/link.txt
